{% extends 'base.html' %}

{% block title %}发布博客{% endblock %}

{% block head %}
    <script src="{% static 'jquery/jquery-3.7.1.min.js' %}"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@wangeditor/editor@latest/dist/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/@wangeditor/editor@latest/dist/index.js"></script>
    <script src="{% static 'js/pub_blog.js' %}"></script>
    <style>
        #editor-wrapper {          /* 原来是 #editor—wrapper */
            border: 1px solid #ccc;
            z-index: 100;
        }
        #toolbar-container {
            border-bottom: 1px solid #ccc;
        }
        #editor-container {
            height: 500px;
        }
    </style>
{% endblock %}

{% block main %}
	<h1>发布列表</h1>
    <div class="mt-3">
        <form action="" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label">标题</label>
                <input type="text" name="title" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">分类</label>
                <select name="category" class="form-select">
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">内容</label>
                <div id="editor-wrapper">
                    <div id="toolbar-container"></div>
                    <div id="editor-container"></div>
                </div>
            </div>
            <div class="mb-3 text-end">
                <button class="btn btn-primary" id="submit-bt">发布</button>
            </div>
            <hr>
        </form>
    </div>
{% endblock %}